.filters {
  width: 100%;
  overflow: hidden;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  margin: 15px 0 80px 0;
  
  ul {
    float: left;
    overflow: hidden;
    display: inline-block;
    margin-top: 12px;

    li {
      float: left;
      display: inline;
      color: #999;
      font-weight: bold;
      margin-right: 45px;
      position: relative;

      input[type="checkbox"] {
        display:none;
      }

      input[type="checkbox"] + label {
        color: #999;
        font-weight: bold;
        cursor: pointer;

        &:after {
          opacity: 0;
          content: '';
          position: absolute;
          width: 9px;
          height: 5px;
          background: transparent;
          top: 5px;
          left: 4px;
          border: 3px solid #999;
          border-top: none;
          border-right: none;

          transform: rotate(-45deg);
        }
      }

      input[type="checkbox"] + label {
        span {
          display:inline-block;
          width:18px;
          height:18px;
          margin:0 10px 0 0;
          vertical-align:middle;
          background: #fff;
          border: 1px solid #ccc;
          cursor:pointer;
        }
      }

      input[type="checkbox"]:checked + label:after {
        opacity: 1;
      }
    }

    li.filter-title {
      font-weight: bold;
      font-size: 18px;
      margin-right: 30px;
      color: #000;
    }
  }

  .all-products-btn {
    float: right;
  }
}