.products-slider {
  width: 100%;
  margin-bottom: 90px;

  h2.products-title {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 22px;
    display: block;
  }
}

.products-slider .products-list {
  list-style: none;
  overflow: hidden;
}

.products-slider .products-list li {
  display: inline-block;
  width: 225px;
  border: 1px solid #fff;
  float: left;
  padding: 34px 44px;
  background: #fff;
}

.products-slider .products-list li .products-list_actions {
  display: none;
}

.products-slider .products-list li:hover {
  border: 1px solid #ccc;

  -webkit-transition: border .4s;
  transition: border .4s;
}

.products-slider .products-list li:hover .products-list_actions {
  display: block;
}

.products-slider .products-list li:hover .products-list_header .products-list_header-personalize {
  margin-top: -43px;
}

.products-slider .products-list li .products-list_header {
  position: relative;
  width: 100%;
}
.products-slider .products-list li .products-list_header > img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.products-slider .products-list li .products-list_header .products-list_header-personalize {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 4px;
  margin-bottom: 10px;
  background: #fff;
  z-index: 3;
  position: relative;
}

.products-slider .products-list li .products-list_header .products-list_header-personalize img {
  margin-right: 7px;
  float: left;
}

.products-slider .products-list li .products-list_header .products-list_header-personalize span {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  line-height: 12px;
}

.products-slider .products-list li .products-list_body {
  width: 100%;
  position: relative;
}

.products-slider .products-list li .products-list_body .products-list_body-title {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.products-slider .products-list li .products-list_body .products-list_body-category {
  font-weight: normal;
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}

.products-slider .products-list li .products-list_body .products-list_body-price {
  font-weight: bold;
  color: #666;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}

.products-slider .products-list li .products-list_body .products-list_body-installments {
  font-weight: normal;
  color: #666;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
}