/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

header, footer {
  width: 100%;
  position: relative;
}

header nav {
  width: 100%;
  background: #fff;
  padding: 23px 0;
}

header nav #logo {
  width: 70px;
  height: 25px;
  text-indent: -9999px;
  overflow: hidden;
  background: url('/images/nike-logo.png') top left no-repeat;
  float:left;
  margin-right: 20px;
}

header nav ul.nav-top {
  float: left;
  list-style: none;
  display: inline;
  margin-top: 2px;
}

header nav ul.nav-top-cart {
  float: right;
  list-style: none;
  display: inline;
  margin-top: 2px;

  li {
    display: inline-block;

    a {
      display: block;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      overflow: hidden;
      background: url('/images/cart.png') top left no-repeat;
      background-size: 25px 25px;
    }
  }
}

header nav ul.nav-top li {
  float: left;
  margin: 0 20px;
}

header nav ul.nav-top li a {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding: 5px 0;
}

header .banner {
  width: 100%;
  height: 551px;
  background: url('/images/banner.png') no-repeat center center; 
  background-size: auto 100%;
}

footer .banner-footer {
  width: 100%;
  height: 568px;
  background: url('/images/banner-footer.png') no-repeat center center; 
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .banner-footer h2 {
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 51px;
  margin-bottom: 20px;
}

.all-products-btn,
.buy-btn {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.all-products-btn {
  background: #313131;
}

.buy-btn {
  background: #ff5c2b;
  display: block;
  text-align: center; 
}

footer .copyright {
  font-size: 14px;
  color: #999;
  text-align: center;
  display: block;
  padding: 23px 0;
}